
.overall {
    background-color: gray;
    color: white;
}


.navbar {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ride {
    display:flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width:100%;
    height: 4rem;
    border: 4px solid blue
       
}

.flexRide {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.filterSelf {
    margin-right: 1.5rem;
}

.filterSelf::before {
    content:url("../public/Vector.png");
    margin: 10px;
}

.filterSelf:hover {
    cursor: pointer;
}
.rideList1 {
    padding-bottom: 5rem;
    border: 2px solid black;
}

.rideList1:hover {
        cursor: pointer;
}

.rideList2:hover {
    cursor: pointer;
}
.rideList3:hover {
    cursor: pointer;
}
.rideList4:hover {
    cursor: pointer;
}

.active {
    
    border-bottom: 2px solid white;

}